<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Supermercado">
<meta name="author" content="Fernando Seco Pan jaja xd lol">
<meta name="_csrf" th:content="${_csrf.token}" />

<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Supermercado</title>

<th:block th:include="includes/fragments :: links"></th:block>

</head>
<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/fragments :: navbar"></th:block>


	<div class="container my-5 py-5">
		<div class="row">
			<th:block th:each="producto : ${productos}">
				<div class="col-sm-3 my-3">
					<div class="card h-100">
						<h5 class="card-header text-truncate" th:text="${producto.getNombre()}" width="100"></h5>
						<div class="card-body">
							<p class="card-text" th:text="${producto.getDescripcion()}" ></p>
							<small>Cantidad:</small>
							<input th:id=" 'cantidad-' + ${producto.getId()}" type="number" class="form-control form-control-sm w-25" value="1" min="1" max="99" >
						</div>
						<div class="card-footer">
							<button id="add" type="button" class="btn btn-success btn-sm" th:data-id="${producto.getId()}">Añadir</button>
							<p class="card-text float-right mt-2" th:text="${producto.getPrecio()} + '€'"></p>
						</div>
					</div>
				</div>
			</th:block>
		</div>
		
	</div>

	<th:block th:include="includes/fragments :: scripts"></th:block>
	
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>
