<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Supermercado">
<meta name="author" content="Fernando Seco Pan jaja xd lol">
<meta name="_csrf" th:content="${_csrf.token}" />

<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Supermercado</title>

<th:block th:include="includes/fragments :: links"></th:block>

</head>
<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/fragments :: navbar"></th:block>

	<div class="container mt-5">
		<h2 class="text-uppercase font-weight-bold">Pedido Activo:</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Estado</th>
					<th scope="col">Fecha</th>
					<th scope="col">Precio</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="pedido, iter : ${pedidos}">
					<tr th:if="${pedido.getActive()} == 1">
						<th scope="row" th:text="${iter.count}"></th>
						<td th:text="Activo"></td>
						<td th:text="${pedido.getCreation()}"></td>
						<td th:text="${pedido.getTotal()}"></td>
						<td width="75">
							<button type="button" id="ver"
								class="btn btn-sm btn-success d-block mb-1"
								th:data-id="${pedido.getId()}">Ver Pedido</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<div class="container my-5 py-5">
		<h2 class="text-uppercase font-weight-bold">Pedidos Completados:</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Estado</th>
					<th scope="col">Fecha</th>
					<th scope="col">Precio</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="pedido, iter : ${pedidos}">
					<tr th:if="${pedido.getActive()} == 0">
						<th scope="row" th:text="${iter.count}"></th>
						<td th:text="Completado"></td>
						<td th:text="${pedido.getCreation()}"></td>
						<td th:text="${pedido.getTotal()}"></td>
						<td width="75">
							<button type="button" id="ver"
								class="btn btn-sm btn-success d-block mb-1"
								th:data-id="${pedido.getId()}">Ver Pedido</button>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
		aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title h4" id="myExtraLargeModalLabel">CESTA</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div id="contenido" class="modal-body">
					
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="includes/fragments :: scripts"></th:block>

	<script type="text/javascript" th:src="@{/js/pedidos.js}"></script>
</body>
</html>