<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Supermercado">
<meta name="author" content="Fernando Seco Pan jaja xd lol">
<meta name="_csrf" th:content="${_csrf.token}" />

<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>Supermercado</title>

<th:block th:include="includes/fragments :: links"></th:block>

</head>
<body class="fixed-nav sticky-footer sidenav-toggled" id="page-top">

	<!-- Navigation-->
	<th:block th:include="includes/fragments :: navbar"></th:block>


	<div class="container my-5 py-5">
		<h2>
			<i class="fas fa-user"></i>
			<label class="text" th:text="${user.getName()}"> </label>
			<button type="button" class="btn btn-outline-danger" 
			data-toggle="modal" data-target="#eliminarCuenta">Eliminar Cuenta</button>
		</h2>
		<div class="row my-3">
			<div class="col-sm-3">
				
				<div class="form-label-group">
					<label for="password">Nueva Contraseña</label> <input type="password"
						placeholder="Nueva Contraseña" id="password"
						name="password" class="form-control" autocomplete="off" required />
				</div>
				<div class="form-label-group my-2">
					<label for="confirmPassword">Confirmar Nueva Contraseña</label> <input
						type="password" placeholder="Confirmar Nueva Contraseña"
						id="confirmPassword" name="confirmPassword" class="form-control"
						autocomplete="off" required />

				</div>
				<button type="button my-2" class="btn btn-success">Confirmar</button>
			</div>
		</div>
		<div class="mt-3"></div>
	</div>
	
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarCuenta" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarCuenta">Eliminar Cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>



	<th:block th:include="includes/fragments :: footer"></th:block>

	<th:block th:include="includes/fragments :: scripts"></th:block>

</body>
</html>