<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">

<title>Log In</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/all.min.css}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>
	
	<div class="wrapper fadeInDown">
	  <div id="formContent">
	    <!-- Tabs Titles -->
	
	    <!-- Icon -->
	    <div class="fadeIn first">
	      <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
	    </div>
	
	    <!-- Login Form -->
	    <form th:action="@{/login}" method="POST" class="mt-5">
	      <input type="text" id="login" class="form-control" name="login" placeholder="Correo">
	      <input type="password" id="password" class="form-control" name="login" placeholder="Contraseña">
	      <input type="submit" class="fadeIn fourth" value="Log In">
	    </form>
	
	    <!-- Remind Passowrd -->
	    <div id="formFooter">
	      <a class="underlineHover" th:href="@{/register}">¿No estas registrado?</a>
	    </div>
	
	  </div>
	</div>
	
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
</body>
</html>
