<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Sign Up">
<meta name="author" content="Supermercado">

<title>Sign Up</title>

<th:block th:include="includes/fragments :: links"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

</head>

<body style="overflow: hidden">
	<img th:src="@{/rss/login.png}" class="img-fluid rounded rounded-circle h-50" style="position:absolute;left:16%;bottom:50%;z-index: 0;">
	
	<div class="container">
		<div class="text-center mb-4">
			<h2 class="h3 mb-3 font-weight-normal">Registro</h2>
		</div>
		<form th:action="@{/register}" th:object="${user}" method="post" class="form-signin card">
			<div class="form-label-group">
				<input type="text" id="name" name="name" th:field="*{name}" th:placeholder="Name" class="form-control" autocomplete="off" required autofocus/>
				<label for="name">Nombre</label>
			</div>

			<div class="form-label-group">
				<input type="text" th:field="*{lastName}" placeholder="Last Name" id="lastName" name="lastName" class="form-control" autocomplete="off" required/>
				<label for="lastName">Apellidos</label>
			</div>

			<div class="form-label-group">
				<input type="text" pattern="[a-zA-Z0-9.ñ]+@supermercado.com" th:field="*{email}" placeholder="Email" id="email" name="email" class="form-control" autocomplete="off" required/>
				<label for="email">Email</label>
			</div>

			<div class="form-label-group">
				<input type="password" th:field="*{password}" th:placeholder="Password" id="password" name="password" class="form-control" autocomplete="off" required/> 
				<label for="password">Contraseña</label>
			</div>
			
			<div class="form-label-group">
				<input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="form-control" autocomplete="off"  required/> 
				<label for="confirmPassword">Confirmar Contraseña</label>
			</div>

			<button type="submit" class="btn btn-lg btn-danger bg-danger btn-block text-white" style="background-color:#51C3F1;">Registrar Usuario</button>
			
			<div class="text-center">
				<span class="text-center" th:utext="${successMessage}"></span>
			</div>
		</form>
		
		<div class="text-center mt-3 mb-2" style="position:absolute;left:0;right:0;">
			<span class="text-muted mr-2">¿Ya tienes una cuenta?</span>
			<a th:href="@{/login}">Log in</a>
		</div>
	</div>

	<th:block th:include="includes/fragments :: scripts"></th:block>
	
	<script type="text/javascript" th:src="@{/js/register.js}"></script>
</body>
</html>