<!-- Bootstrap core CSS-->
<div th:fragment="links">
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/font-awesome/css/all.min.css}" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</div>

<div th:fragment="scripts">
	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/js-cookie/js.cookie.js}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</div>

<div th:fragment="navbar">
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
		<a class="navbar-brand" style="color:white" th:href=@{/user/home}>
			<i class="fas fa-apple-alt"></i><span class="font-weight-bold ml-2">MAGORI</span>
		</a>
		<ul class="navbar-nav ml-auto text-light">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/user/perfil}">
					<i class="fas fa-user-cog"></i>
					<span class="ml-1">Perfil</span>
				</a>
			</li>
			<li th:if="${user.isAdmin()}" class="nav-item active">
				<a class="nav-link" th:href="@{/admin/settings}">
					<i class="fas fa-users-cog"></i>
					<span class="ml-1">Admin Zone</span>
				</a>
			</li>
			<li class="nav-item active" style="color: white">
				<a class="nav-link" th:href="@{/user/pedidos}">
					<i class="fas fa-shopping-cart"></i>
					<span class="ml-1">Pedidos</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/logout}">
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>

<div th:fragment="footer">
	<footer class="sticky-footer">
		<!-- Footer Links -->
		<div class="container-fluid bg-light"></div>
		<div class="container-fluid bg-light text-center">
			<small> <i class="fa fa-copyright"></i> 2018 Supermercado -
				All rights reserved
			</small>
		</div>
	</footer>
</div>
